<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>

    <title><%= title %></title>
    <style media="screen">
      .container1 {
                 /*background-image: url(https://i.stack.imgur.com/s3BcM.png);*/
                 background-color: rgb(0, 153, 51);
                 opacity: 0.9;
      }

      .body {
              background-image: url(https://www.neh.gov/files/news/press_releases/openbooks.jpg);
              background-size: cover;
              padding:0px 0px 0px 0px;
              background-repeat: no-repeat;
              background-attachment: fixed;
      }
      .questions, .container1 {
              font-family: 'Old Standard TT';
              font-style: italic;
              font-style: bold;
      }
      span {
          font-size: 20px;
          
      }


    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body class="body">
    <div class="container ">


  <div class="container1 col-lg-6 col-lg-offset-3">
      <div class="col-lg-6 col-lg-offset-4">
       <h1><%= title %></h1>
      </div>
    <div class="form-group has-success">
    <label for="name"><h3>Type Url:</h3></label>
    <input id="url" class="form-control" type="text" value="" placeholder="www.google.com">
    </div>
    <div class="col-lg-6 col-lg-offset-5">
    <button type="button" id="cal" class="btn btn-primary" name="button">Submit</button>
    </div>
     <div class="">
         <span id="url1" ></span>
     </div>

  </div>
    </div>
    <script>
  $(document).ready(function() {

    $("#cal").click(function(){
    var result = {
        url : $('#url').val(),

    }
    var id;
    $.ajax({
         async : false,
        type:"POST",
        url:"/",
        data:result,                   // multiple data sent using ajax,send all form contant by a single object
        success: function (result) {
            // console.log(result);
           if(!result.error) {
           //id = result.url;
           $('#url1').html('<a style="color:black" href="http://'+result.urlold+'">'+result.urlnew+'</a>')
          // console.log(id);
         }
        }
      });
      // window.location.href="/leaderboard/" + id;

    });
  });
</script>

  </body>
</html>
